@import '../../style/variable';

header{
     padding : 16px 0;
     backdrop-filter: blur(15px);
     position : fixed;
     width : 100%;
     z-index: 1111;
     nav{
      width : inherit ;
     }
     .logo{
      margin-right : 25px;
      padding-right : 20px !important;


     }
     .img__logo{
       width :128px;
       height : 42px;
     }
     a{
      color : $color-2 !important;
     }
    .btn__icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
       .num__not{
          position : absolute;
          top: -25%;
          right: -7%;
          color : white;
          background : $color_3;
          border-radius : 50%;
          width : 20px; 
          font-size: 12px;
          height: 20px;
       }
   }

   .nav-item:hover {
          &.dropdown-menu{
              display : block !important;
          }
   }
}


@media screen and (max-width : 1200px){
   header{
    nav{
      width : inherit ;
     }
   .logo{
      margin-right : 10px;
      padding-right : 10px !important;
     }


   .img__logo{
       width :100px;
       height : 30px;
     }
     a{
      color : $color-2 !important;
     }
   .btn__icon{
        width: 35px;
        height: 35px;
       .num__not{
          width : 15px; 
          height: 15px;
          &.navbar-toggler{
            padding :0 !important ;
            margin-right  : 10px !important; 
          }
       }
   }

   form button{
      padding : 6px;
   }

   input{
      padding : 5px 10px !important ;
   }

   .nav-item:hover {
          &.dropdown-menu{
              display : block !important;
          }
   }
   }
}